.application-form__element--username
  $color-hover: #AFC7FF

  padding-left: 9px
  background-color: $color-blue-gray

  &:hover
    background-color: $color-hover

  @media ($width-desktop)
    margin-bottom: 20px
    padding-left: 15px
