.btn-up
  position: fixed
  right: 10px
  bottom: 30px
  display: block
  width: 35px
  height: 35px
  opacity: 0.8
  border: 1px solid $color-signal-black
  border-radius: 50%
  background: url("/img/icons/arrow-up-icon-mobile.svg") $color-white center 9px no-repeat
  font-size: 0
  line-height: 0

  &:hover
    opacity: 0.6

  &:active
    opacity: 1

  @media ($width-desktop)
    width: 70px
    height: 70px
    background: url("/img/icons/arrow-up-icon-desktop.svg") $color-white center 13px no-repeat
