.product-list
  display: grid
  grid-template-columns: repeat(2, 1fr)
  grid-column-gap: 20px
  grid-row-gap: 20px
  margin-bottom: 20px

  @media ($width-desktop)
    grid-template-columns: repeat(3, 1fr)
    grid-row-gap: 50px
    margin-bottom: 46px
