.catalog-navigation__btn
  width: 14px
  height: 10px
  margin-top: 5px
  margin-left: 9px
  border: none
  background: url("/img/icons/icon-tick.svg")
  font-size: 0
  line-height: 0

  @media ($width-desktop)
    display: none
