.catalog-products__breadcrumbs--pergola
  width: 220px

  @media ($width-desktop)
    width: 364px

  &::before
    top: 9px
    left: 142px

    @media ($width-desktop)
      top: 16px
      left: 245px

