.catalog-products__breadcrumbs
  margin-bottom: 10px

  @media ($width-desktop)
    margin-bottom: 15px

    grid-area: breadcrumbs

  &::before
    position: absolute
    width: 14px
    height: 1px
    content: ""
    transform: rotate(-74deg)
    background-color: $color-signal-black

    @media ($width-desktop)
      width: 25px
      height: 2px


