.works-list
  display: grid
  letter-spacing: 0.5px

  grid-template-columns: repeat(2, 1fr)
  grid-gap: 19px

  @media ($width-desktop)
    grid-template-columns: repeat(3, 1fr)
    grid-row-gap: 79px
