.contacts__title
  margin-bottom: 21px
  font-weight: 600
  font-size: 30px
  line-height: 36px
  letter-spacing: 0.5px

  @media ($width-desktop)
    font-size: 38px
    line-height: 46px
    margin-bottom: 51px
