.contacts__title
  font-size: 30px
  font-weight: 600
  line-height: 36px

  margin-bottom: 21px

  letter-spacing: 0.5px

  @media ($width-desktop)
    font-size: 38px
    line-height: 46px

    margin-bottom: 51px
