.header-content__title
  margin-bottom: 21px
  letter-spacing: 0.3px

  @media ($width-desktop)
    grid-area: title
    width: 442px
    margin-bottom: 0
    padding-top: 122px
    letter-spacing: 0.5px
