.slider__btn--prev
  left: 14px

  @media ($width-desktop)
    left: 25px

  &::before
    position: absolute
    top: 5px
    left: 5px
    width: 15px
    height: 17px
    content: ""
    background: url("/img/icons/arrow-left-icon-mobile.png") no-repeat

    @media ($width-desktop)
      top: 10px
      left: 14px
      width: 23px
      height: 27px
      background: url("/img/icons/arrow-left-icon-desktop.png") no-repeat
