$font-base: "Inter", "Arial", sans-serif

$width-mobile: 360px
$width-desktop: "min-width: 1440px"

$color-white: #ffffff
$color-snow-white: #fbfbfb
$color-gray: #bdbdbd
$color-signal-black: #2b2929
$color-blue-gray: #7e9ce1
$color-black: #1f0109
$color-hover: #a5a5a5


