.contacts-info__tel
  display: block
  padding-top: 2px
  color: $color-signal-black
  font-size: 10px
  line-height: 1.2

  &:hover
    cursor: url("/img/icons/cursor-hover-header.svg"), pointer
    color: $color-hover

  &:active
    cursor: url("/img/icons/cursor-active.svg"), pointer
    text-decoration: underline
    color: $color-signal-black

  @media ($width-desktop)
    margin-right: 50px
    padding-top: 13px
    font-size: 18px
