.contacts-info__tel
  font-size: 10px
  line-height: 12px

  display: block

  padding-top: 2px

  color: $color-signal-black

  @media ($width-desktop)
    font-size: 18px
    line-height: 22px

    margin-right: 50px
    padding-top: 13px
