.slider__btn--next
  right: 15px

  @media ($width-desktop)
    right: 27px

  &::before
    position: absolute
    top: 9px
    left: 8px
    width: 14px
    height: 1px
    content: ""
    transform: rotate(31deg)
    background-color: $color-white

    @media ($width-desktop)
      top: 17px
      left: 14px
      width: 25px
      height: 2px


  &::after
    position: absolute
    top: 16px
    left: 8px
    width: 14px
    height: 1px
    content: ""
    transform: rotate(-31deg)
    background-color: $color-white

    @media ($width-desktop)
      top: 29px
      left: 14px
      width: 25px
      height: 2px

