.slider__btn--next
  right: 25px

  @media ($width-desktop)
    right: 27px

  &::before
    position: absolute
    top: 5px
    left: 8px

    width: 15px
    height: 17px

    content: ""

    background: url("img/arrow-right-icon-mobile.png") no-repeat

    @media ($width-desktop)
      top: 10px
      left: 16px

      width: 23px
      height: 27px

      background: url("img/arrow-right-icon-desktop.png") no-repeat
