.popup-form__element--text
  margin-bottom: 15px
  padding: 14px 0
  padding-left: 10px
  background-color: $color-blue-gray

  &::placeholder
    opacity: 0.5
    color: $color-black
    font-size: 10px
    line-height: 1.2
