.gallery-slider__dotted--active
  $color-active-dot: #004993

  top: calc(50% - 4.5px)
  width: 10px
  height: 10px
  background-color: $color-signal-black

  &:hover
    background-color: $color-hover

  @media ($width-desktop)
    top: calc(50% - 10px)
    width: 20px
    height: 20px
