.gallery-slider__dotted--active
  width: 9px
  height: 9px
  top: calc(50% - 4.5px)
  background-color: $color-dark-gray

  @media ($width-desktop)
    width: 20px
    height: 20px
    top: calc(50% - 10px)
