.contacts-info__whatsapp
  width: 15px
  height: 15px
  margin-right: 23px
  background: url("/img/icons/whatsapp-icon-black-mobile.svg") no-repeat
  font-size: 0
  line-height: 0

  &:hover
    cursor: url("/img/icons/cursor-hover-header.svg"), pointer
    background: url("/img/icons/whatsapp-icon-hover-mobile.svg") no-repeat

  &:active
    cursor: url("/img/icons/cursor-active.svg"), pointer

  @media ($width-desktop)
    width: 30px
    height: 30px
    margin-top: 10px
    margin-right: 27px
    background: url("/img/icons/whatsapp-icon-black-desktop.svg") no-repeat

    &:hover
      background: url("/img/icons/whatsapp-icon-hover-desktop.svg") no-repeat
