.contacts-info__whatsapp
  font-size: 0
  line-height: 0

  width: 15px
  height: 15px
  margin-right: 23px

  background: url("/img/whatsapp-icon-header-mobile.png") no-repeat

  @media ($width-desktop)
    width: 30px
    height: 30px
    margin-top: 10px
    margin-right: 27px

    background: url("/img/whatsapp-icon-header-desktop.png") no-repeat
