.popup-form__button
  position: relative
  width: 28px
  height: 28px
  border: none
  background-color: transparent
  font-size: 0
  line-height: 0

  &::before
    position: absolute
    top: 13px
    left: 0
    width: 28px
    height: 2px
    content: ""
    transform: rotate(45deg)
    background-color: $color-blue-gray

  &::after
    position: absolute
    top: 13px
    left: 0
    width: 28px
    height: 2px
    content: ""
    transform: rotate(-45deg)
    background-color: $color-blue-gray

