.popup-form__button
  position: relative
  top: -305px
  left: 277px
  width: 28px
  height: 28px
  font-size: 0
  line-height: 0
  background-color: transparent
  border: none

  &::before
    position: absolute
    content: ""
    width: 28px
    height: 2px
    color: $color-black
    top: 0
    left: 0
    transform: rotate(45deg)
    z-index: 2
