.contacts-info__whatsapp--footer
  background: url("/img/whatsapp-icon-footer-mobile.png") no-repeat
  margin-right: 5px
  margin-left: 25px

  @media ($width-desktop)
    background: url("/img/whatsapp-icon-footer-desktop.png") no-repeat
    margin-right: 2px
    margin-left: 28px
    margin-top: 5px
