.contacts-info__whatsapp--footer
  margin-right: 5px
  margin-left: 25px

  background: url("/img/whatsapp-icon-footer-mobile.png") no-repeat

  @media ($width-desktop)
    margin-top: 5px
    margin-right: 2px
    margin-left: 28px

    background: url("/img/whatsapp-icon-footer-desktop.png") no-repeat
