.nav-list__lnk--header
  color: $color-signal-black
  font-size: 8px
  line-height: 1.2

  &:hover
    opacity: 0.4

  &:active
    text-decoration: underline
    opacity: 1
    color: $color-signal-black


  @media ($width-desktop)
    letter-spacing: 0.5px
    font-size: 16px
