.catalog-list__lnk
  letter-spacing: 0.5px
  color: $color-signal-black
  font-size: 10px
  line-height: 1.2


  @media ($width-desktop)
    letter-spacing: 1px
    font-size: 20px

    &:first-child
      display: block
      margin-bottom: 12px
