.catalog-list__lnk
  font-size: 10px
  line-height: 1.2
  color: $color-signal-black

  @media ($width-desktop)
    font-size: 20px
    letter-spacing: 1px

    &:first-child
      display: block
      margin-bottom: 12px
