.catalog-products__breadcrumbs--fence
  width: 225px

  @media ($width-desktop)
    width: 390px


  &::before
    top: 9px
    left: 138px

    @media ($width-desktop)
      top: 20px
      left: 241px


