.catalog-products__breadcrumbs--fence
  width: 235px

  @media ($width-desktop)
    width: 390px


  &::before
    top: 9px
    left: 142px

    @media ($width-desktop)
      top: 20px
      left: 241px


