.breadcrumbs__item
  $color-gray: rgba(0, 0, 0, 0.5)

  &:first-child
    position: relative

    .breadcrumbs__lnk
      color: $color-gray

      @media ($width-desktop)
        letter-spacing: 1.5px

  &:last-child
    .breadcrumbs__lnk
      color: $color-signal-black
