.product-list__lnk
  font-size: 10px
  line-height: 12px

  display: block

  width: 80px
  min-height: 24px
  padding: 6px 2px

  text-align: center
  letter-spacing: 0.3px

  color: $color-white
  background-color: $color-green

  @media ($width-desktop)
    font-size: 16px
    line-height: 19px

    position: absolute
    right: 20px
    bottom: 23px

    width: 135px
    min-height: 35px
    padding: 8px 2px
