.product-list__lnk
  display: block
  text-align: center
  padding: 6px 2px
  width: 80px
  min-height: 24px
  background-color: $color-green
  color: $color-white
  font-size: 10px
  line-height: 12px
  letter-spacing: 0.3px

  @media ($width-desktop)
    position: absolute
    right: 20px
    bottom: 23px
    width: 135px
    min-height: 35px
    font-size: 16px
    line-height: 19px
    padding: 8px 2px
