.description__container
  width: 265px
  margin: 0 auto
  display: grid
  grid-template-columns: 0.5fr 1.5fr
  grid-template-rows: repeat(6, 1fr)
  // grid-template-areas: "label-material" "text-material"

