.description-list__item
  &:last-child
    font-size: 10px
    line-height: 1.2
    padding-left: 17px
    letter-spacing: 0.2px

    @media ($width-desktop)
      font-size: 12px
      padding-left: 22px
      letter-spacing: 0.4px
      margin-bottom: 0

  @media ($width-desktop)
    margin-bottom: 5px
