.description-list__item
  &:last-child
    position: relative
    padding-left: 17px
    letter-spacing: 0.2px
    font-size: 10px
    line-height: 1.2

    @media ($width-desktop)
      margin-bottom: 0
      padding-left: 22px
      letter-spacing: 0.4px
      font-size: 12px

    &::after
      position: absolute
      top: 0
      left: 0
      width: 13px
      height: 13px
      content: ""
      background: url("/img/icons/icon-checkbox-mobile.svg") no-repeat

      @media ($width-desktop)
        width: 16px
        height: 16px
        background: url("/img/icons/icon-checkbox-desktop.svg") no-repeat

  @media ($width-desktop)
    margin-bottom: 5px

