.description-list__item
  &:last-child
    padding-left: 17px
    letter-spacing: 0.2px
    font-size: 10px
    line-height: 1.2

    @media ($width-desktop)
      margin-bottom: 0
      padding-left: 22px
      letter-spacing: 0.4px
      font-size: 12px

  @media ($width-desktop)
    margin-bottom: 5px
