.products__text
  font-size: 14px
  line-height: 1.2
  padding-top: 20px
  letter-spacing: 0.5px

  @media ($width-desktop)
    font-size: 20px
    width: 812px
    padding-top: 46px
    letter-spacing: 0.7px
