.products__text
  padding-top: 20px
  letter-spacing: 0.5px
  font-size: 14px
  line-height: 1.2

  @media ($width-desktop)
    width: 812px
    padding-top: 46px
    letter-spacing: 0.7px
    font-size: 20px
