.catalog-products__breadcrumbs--complex
  width: 316px

  @media ($width-desktop)
    width: 550px

  &::before
    top: 11px
    left: 89px

    @media ($width-desktop)
      top: 17px
      left: 157px
