.header-content
  display: grid

  @media ($width-desktop)
    grid-template-columns: repeat(2, 1fr)
    grid-template-rows: 258px 118px 68px 156px
    grid-template-areas: "title slider" "subtitle slider" "description slider" "wrap slider"
