.catalog-list
  position: absolute
  z-index: 2
  top: 50px
  left: 45px
  display: none
  width: 177px
  padding-top: 12px
  padding-bottom: 30px
  padding-left: 30px
  background-color: $color-snow-white
  box-shadow: 0px 6px 8px 4px rgba(34, 60, 80, 0.2)

  @media ($width-desktop)
    position: static
    display: block
    width: 100%
    padding: 0
    background-color: transparent
    box-shadow: none

