.page-header__btn
  position: relative
  display: block
  width: 25px
  height: 18px
  margin-top: 3px
  margin-left: auto
  border: none
  background: url("/img/icons/burger-icon-mobile.svg") no-repeat
  font-size: 0
  line-height: 0

  &:hover
    background: url("/img/icons/burger-icon-mobile-hover.svg") no-repeat

  &:active
    background: url("/img/icons/burger-icon-mobile.svg") no-repeat

  @media ($width-desktop)
    width: 40px
    height: 26px
    background: url("/img/icons/burger-icon-desktop.svg") no-repeat

    &:hover
      background: url("/img/icons/burger-icon-desktop-hover.svg") no-repeat

    &:active
      background: url("/img/icons/burger-icon-desktop.svg") no-repeat


