.fence__breadcrumbs
  width: 225px
  margin-bottom: 10px

  &::before
    position: absolute
    top: 9px
    left: 138px
    width: 14px
    height: 1px
    content: ""
    transform: rotate(-74deg)
    background-color: $color-signal-black
