.contacts-info__tel--footer
  color: $color-white

  &:hover
    cursor: url("/img/icons/cursor-hover-footer.svg"), pointer

  &:active
    cursor: url("/img/icons/cursor-active.svg"), pointer
    color: $color-hover

  @media ($width-desktop)
    margin: 0
