.gallery-slider__dottedwrap
  position: relative

  width: 224px
  height: 1px
  margin: 0 auto
  margin-bottom: 24px

  background-color: $color-form-element

  @media ($width-desktop)
    width: 1000px
    height: 4px
    margin-bottom: 58px
