.application-form
  background-color: $color-form
  border-radius: 10px
  padding-top: 30px
  padding-bottom: 60px
  padding-left: 25px

  fieldset
    border: none
    padding: 0
    margin: 0

  legend
    width: 220px
    color: $color-white
    margin-bottom: 20px

  &__element
    width: 234px
    padding-top: 14px
    padding-bottom: 14px
    border: none
    margin-bottom: 15px

    &--userphone,
    &--username
      padding-left: 10px
      background-color: $color-form-element

    &::placeholder
      font-size: 10px
      line-height: 12px
      color: $color-black
      opacity: 0.5

    &--submit
      width: 116px
      min-height: 49px
      margin-bottom: 0

