.application-form
  background-color: $color-form
  border-radius: 10px
  padding-top: 30px
  padding-bottom: 60px
  padding-left: 25px

  fieldset
    border: none
    padding: 0
    margin: 0

  legend
    width: 230px
    letter-spacing: 0.5px
    color: $color-white
    margin-bottom: 22px

  &__element
    width: 234px
    padding-top: 10px
    padding-bottom: 10px
    border: none
    margin-bottom: 15px

    &--userphone,
    &--username
      padding-left: 9px
      background-color: $color-form-element

    &--userphone
      padding-bottom: 12px

    &::placeholder
      font-size: 10px
      line-height: 12px
      color: $color-black
      opacity: 0.5
      letter-spacing: 0.5px

    &--submit
      width: 116px
      min-height: 40px
      margin-bottom: 0
      letter-spacing: 0.5px

