.button
  display: block
  border-radius: 5px
  border: none
  background-color: $color-button
  font-size: 10px
  line-height: 12px
  color: $color-black
  padding-left: 2px
  padding-right: 2px

  @media ($width-desktop)
    font-size: 16px
    line-height: 19px
    border-radius: 10px
    letter-spacing: 0.6px

  &--white
    background-color: $color-white
    border: 1px solid $color-button

    @media ($width-desktop)
      border: 2px solid $color-button
      letter-spacing: 0.6px
