.contacts-info
  width: 132px
  padding-top: 7px
  margin-right: auto
  display: flex
  justify-content: space-between

  &__lnk
    display: block
    color: $color-dark-gray
    font-size: 10px
    line-height: 12px

    &--whatsapp
      font-size: 0
      line-height: 0
      width: 15px
      height: 15px
      background: url("/img/whatsapp-icon.svg") no-repeat
