.contacts-info
  width: 132px
  padding-top: 5px
  margin-right: auto
  display: flex

  @media ($width-desktop)
    width: 463px
    padding-top: 0

  &--footer
    flex-direction: row-reverse

  &__tel
    display: block
    padding-top: 2px
    color: $color-dark-gray
    font-size: 10px
    line-height: 12px

    @media ($width-desktop)
      font-size: 18px
      line-height: 22px
      margin-right: 35px
      margin-top: 15px

    &--footer
      color: $color-white

  &__whatsapp
    font-size: 0
    line-height: 0
    width: 15px
    height: 15px
    background: url("/img/whatsapp-icon-header-mobile.png") no-repeat
    margin-right: 23px

    @media ($width-desktop)
      width: 30px
      height: 30px
      background: url("/img/whatsapp-icon-header-desktop.png") no-repeat
      margin-right: 20px
      margin-top: 15px

    &--footer
      background: url("/img/whatsapp-icon-footer.svg") no-repeat
      margin-right: 5px
      margin-left: 25px

  &__btn
    display: none

    @media ($width-desktop)
      display: block
      width: 205px
      min-height: 49px
