.contacts-info
  width: 132px
  padding-top: 5px
  margin-right: auto
  display: flex

  &--footer
    flex-direction: row-reverse

  &__tel
    display: block
    padding-top: 2px
    color: $color-dark-gray
    font-size: 10px
    line-height: 12px

    &--footer
      color: $color-white

  &__whatsapp
    font-size: 0
    line-height: 0
    width: 15px
    height: 15px
    background: url("/img/whatsapp-icon-header.svg") no-repeat
    margin-right: 23px

    &--footer
      background: url("/img/whatsapp-icon-footer.svg") no-repeat
      margin-right: 5px
      margin-left: 25px
