.contacts
  padding-bottom: 100px

  &__title
    margin-bottom: 20px

  &__author
    margin-bottom: 15px

  &__tel,
  &__lnk
    font-size: 14px
    line-height: 16px
    color: $color-dark-gray

  &__tel
    margin-bottom: 15px

  &__text
    font-size: 10px
    line-height: 12px
