.contacts
  padding-bottom: 100px

  &__title
    margin-bottom: 21px
    font-weight: 600
    font-size: 30px
    line-height: 36px
    letter-spacing: 0.5px

  &__author
    font-size: 14px
    line-height: 1.2
    margin-bottom: 15px
    letter-spacing: 0.4px

  &__tel,
  &__lnk
    font-size: 14px
    line-height: 16px
    color: $color-dark-gray

  &__tel
    margin-bottom: 15px

  &__text
    font-size: 10px
    line-height: 12px
