.features-list
  display: grid
  grid-row-gap: 20px

  &__item
    width: 273px
    margin-bottom: 14px

    &:first-child
      margin-bottom: 2px

    &:last-child
      margin-bottom: 0

  &__title
    font-size: 16px
    line-height: 19px
    margin-bottom: 5px
    letter-spacing: 0.5px

  &__text
    font-size: 10px
    line-height: 12px
    letter-spacing: 0.4px
