.features
  margin-bottom: 102px

  @media ($width-desktop)
    margin-bottom: 144px

  &__title
    margin-bottom: 20px
    letter-spacing: 0.3px

    @media ($width-desktop)
      margin-bottom: 50px
