.gallery-slider
  &__dottedwrap
    position: relative
    width: 224px
    height: 1px
    background-color: $color-form-element
    margin: 0 auto
    margin-bottom: 24px

  &__dotted
    width: 7px
    height: 7px
    border-radius: 50%
    background-color: $color-form-element
    position: absolute
    top: calc(50% - 3.5px)

    &:first-child
      left: 81px

    &:nth-child(3n+2)
      left: 108px

    &:last-child
      left: 136px

    &--active
      width: 9px
      height: 9px
      top: calc(50% - 4.5px)
      background-color: $color-dark-gray

  &__item
    display: none

    &--active
      display: block


