.gallery-slides
  display: grid
  grid-template-columns: repeat(2, 1fr)
  grid-column-gap: 20px

  &__img
    display: block

  &--one
    grid-template-rows: repeat(2, auto)
    grid-row-gap: 6px
    grid-template-areas: "item1-1 item1-2" "item1-1 item1-3"

    li:first-child
      grid-area: item1-1

      picture
        margin-bottom: 5px

        &:last-child
          margin-bottom: 0

    li:nth-child(3n+2)
      grid-area: item1-2

    li:last-child
      grid-area: item1-3

  &--two
    grid-template-rows: repeat(4, auto)
    grid-row-gap: 6px
    grid-template-areas: "item2-1 item2-2" "item2-3 item2-4"

    li:first-child
      grid-area: item2-1

      picture
        &:first-child
          margin-bottom: 5px

    li:nth-child(4n+2)
      grid-area: item2-2

      picture
        &:first-child
          margin-bottom: 5px

    li:nth-child(4n+3)
      grid-area: item2-3

    li:last-child
      grid-area: item2-4

  &--three
    grid-template-rows: repeat(3, auto)
    grid-row-gap: 6px
    grid-template-areas: "item3-1 item3-2" "item3-3 item3-5" "item3-4 item3-5"

    li:first-child
      grid-area: item3-1

    li:nth-child(5n+2)
      grid-area: item3-2

    li:nth-child(5n+3)
      grid-area: item3-3

    li:nth-child(5n+4)
      grid-area: item3-4

    li:last-child
      grid-area: item3-5
