.header-content
  display: grid

  &__title
    margin-bottom: 20px

  &__text
    width: 273px
    margin-bottom: 30px

    &:last-child
      width: 199px
      margin-bottom: 15px

  &__wrap
    width: 251px
    display: flex
    justify-content: space-between

  &__btn
    width: 116px
    min-height: 40px
