.header-content
  display: grid

  @media ($width-desktop)
    grid-template-columns: repeat(2, 1fr)
    grid-template-rows: 258px 118px 68px 156px
    grid-template-areas: "title slider" "subtitle slider" "description slider" "wrap slider"

  &__title
    margin-bottom: 21px
    letter-spacing: 0.3px

    @media ($width-desktop)
      grid-area: title
      width: 442px
      margin-bottom: 0
      padding-top: 122px
      letter-spacing: 0.5px

  &__subtitle
    width: 273px
    margin-bottom: 32px
    letter-spacing: 0.6px

    @media ($width-desktop)
      grid-area: subtitle
      margin-bottom: 0
      width: 480px
      font-size: 28px
      line-height: 34px
      opacity: 0.64
      letter-spacing: 1.1px

  &__description
    width: 199px
    font-size: 14px
    line-height: 1.2
    letter-spacing: 1px
    margin-bottom: 15px

    @media ($width-desktop)
      grid-area: description
      margin-bottom: 0
      width: 493px
      font-size: 20px
      line-height: 24px

  &__slider
    margin-bottom: 27px

    @media ($width-desktop)
      grid-area: slider
      margin-bottom: 0

  &__wrap
    width: 250px
    display: flex
    justify-content: space-between

    @media ($width-desktop)
      grid-area: wrap
      display: block

  &__btn
    width: 116px
    min-height: 40px
    letter-spacing: 0.4px

    &--callback
      @media ($width-desktop)
        display: none

    @media ($width-desktop)
      width: 205px
      min-height: 50px


