.header-content
  display: grid

  &__title
    margin-bottom: 21px
    letter-spacing: 0.3px

  &__text
    width: 273px
    margin-bottom: 30px
    letter-spacing: 0.6px

  &__description
    width: 199px
    font-size: 14px
    line-height: 1.2
    letter-spacing: 1px
    margin-bottom: 15px

  &__wrap
    width: 250px
    display: flex
    justify-content: space-between

  &__btn
    width: 116px
    min-height: 40px
    letter-spacing: 0.4px
