.how-works
  margin-bottom: 100px

  @media ($width-desktop)
    margin-bottom: 120px

  &__title
    margin-bottom: 20px
    letter-spacing: 0.3px

    @media ($width-desktop)
      margin-bottom: 49px

  &__btn
    width: 110px
    margin: 0 auto
    min-height: 40px

    @media ($width-desktop)
      width: 220px
      min-height: 60px

