.materials
  margin-bottom: 98px

  &__title
    margin-bottom: 20px

  &__img
    display: block
    margin-bottom: 18px

  &__text
    font-size: 14px
    line-height: 17px
    margin-bottom: 10px
    letter-spacing: 0.5px

    &:last-child
      margin-bottom: 0



