.page-footer
  padding-top: 30px
  padding-bottom: 52px
  background-color: $color-dark-gray

  &__wrap
    width: 296px
    display: flex
    justify-content: space-between

  &__innerwrap
    width: 127px

  &__lnk
    display: block
    width: 94px
    height: 25px
    margin-bottom: 10px

