.page-header
  padding-top: 12px
  margin-bottom: 101px

  &__menu
    display: flex
    margin-bottom: 62px

  &__lnk
    display: block
    width: 94px
    height: 25px
    margin-right: 41px

  &__navlnk
    font-size: 0
    line-height: 0

  &__logo
    margin-right: 40px

  &__navlnk
    display: block
    margin-top: 5px
    width: 25px
    height: 18px
    background: url("/img/burger-icon.svg") no-repeat
