.page-footer
  padding-top: 30px
  padding-bottom: 52px
  background-color: $color-dark-gray

  @media ($width-desktop)
    padding-top: 100px

  &__wrap
    width: 296px
    display: flex
    justify-content: space-between

    @media ($width-desktop)
      width: 100%
      justify-content: normal

  &__innerwrap
    width: 127px

    @media ($width-desktop)
      width: 220px
      margin-right: 501px

  &__lnk
    display: block
    width: 94px
    height: 25px
    margin-bottom: 10px

    @media ($width-desktop)
      width: 203px
      height: 53px
      margin-bottom: 45px

  &__logo
    display: block

