.products
  margin-bottom: 97px

  @media ($width-desktop)
    margin-bottom: 120px

  &__title
    margin-bottom: 20px

    @media ($width-desktop)
      margin-bottom: 50px

  &__text
    font-size: 14px
    line-height: 17px
    letter-spacing: 0.5px

    @media ($width-desktop)
      width: 820px
      font-size: 20px
      line-height: 24px
