.slider
  position: relative

  &__item
    display: none

    &--active
      display: block

  &__btn
    position: absolute
    top: 103px
    width: 26px
    height: 26px
    border-radius: 50%
    border: none
    background-color: $color-dark-gray
    font-size: 0
    line-height: 0

    &--prev
      left: 14px

      &::before
        content: ""
        position: absolute
        width: 12px
        height: 15px
        background: url("img/arrow-left-icon.svg") no-repeat
        top: 5px
        left: 5px


    &--next
      left: 278px

      &::before
        content: ""
        position: absolute
        width: 12px
        height: 15px
        background: url("img/arrow-right-icon.svg") no-repeat
        top: 5px
        left: 8px

