.works-list
  display: inline-grid
  margin-bottom: 20px
  grid-template-columns: repeat(2, 1fr)
  grid-gap: 20px

  &__item
    position: relative

    &::before
      position: absolute
      right: 0
      top: 5px
      content: ""
      width: 32px
      height: 10px
      background: url("/img/arrow-icon.svg") no-repeat

  &__title
    margin-bottom: 5px
    font-size: 16px
    line-height: 19px

  &__text
    font-size: 10px
    line-height: 12px
