.contacts__author
  font-size: 14px
  line-height: 1.2

  margin-bottom: 15px

  letter-spacing: 0.4px

  @media ($width-desktop)
    font-size: 28px
    line-height: 34px

    margin-bottom: 20px

    letter-spacing: 0.8px
