.header-content__subtitle
  width: 273px
  margin-bottom: 32px
  letter-spacing: 0.6px

  @media ($width-desktop)
    grid-area: subtitle
    margin-bottom: 0
    width: 480px
    font-size: 28px
    line-height: 34px
    opacity: 0.64
    letter-spacing: 1.1px
