.gallery-slider__dotted
  $color-hover-dot: #ACCCEB
  $color-active-dot: #004993

  position: absolute
  top: calc(50% - 5px)
  width: 10px
  height: 10px
  border-radius: 50%
  background-color: $color-blue-gray

  &:hover
    background-color: $color-hover-dot

  &:active
    background-color: $color-active-dot

  @media ($width-desktop)
    top: calc( 50% - 7.5px)
    width: 15px
    height: 15px

  &:first-child
    left: 51px

    @media ($width-desktop)
      left: 330px

  &:nth-child(3n+2)
    left: 108px

    @media ($width-desktop)
      left: 487px

  &:last-child
    left: 166px

    @media ($width-desktop)
      left: 652px
