.gallery-slider__dotted
  position: absolute
  top: calc(50% - 3.5px)

  width: 7px
  height: 7px

  border-radius: 50%
  background-color: $color-blue-gray

  @media ($width-desktop)
    top: calc( 50% - 7.5px)

    width: 15px
    height: 15px

  &:first-child
    left: 81px

    @media ($width-desktop)
      left: 395px

  &:nth-child(3n+2)
    left: 108px

    @media ($width-desktop)
      left: 487px

  &:last-child
    left: 136px

    @media ($width-desktop)
      left: 587px
