.button
  font-size: 10px
  line-height: 12px

  display: block

  padding-right: 2px
  padding-left: 2px

  color: $color-black
  border: none
  border-radius: 5px
  background-color: $color-american-rose
  @media ($width-desktop)
    font-size: 16px
    line-height: 19px

    letter-spacing: 0.6px

    border-radius: 10px
