.button
  $color-american-rose: #F5074B
  $color-hover: #F7789C
  $color-active: #D60C46

  display: block
  padding: 0 2px
  color: $color-black
  border: none
  border-radius: 5px
  background-color: $color-american-rose

  font-size: 10px
  line-height: 1.2

  &:hover
    background-color: $color-hover

  &:active
    background-color: $color-active

  @media ($width-desktop)
    letter-spacing: 0.6px
    border-radius: 10px
    font-size: 16px
