.button
  $color-american-rose: #F5074B

  font-size: 10px
  line-height: 1.2
  display: block
  padding: 0 2px
  color: $color-black
  border: none
  border-radius: 5px
  background-color: $color-american-rose

  @media ($width-desktop)
    font-size: 16px
    letter-spacing: 0.6px
    border-radius: 10px
