.pergola__breadcrumbs
  position: relative
  width: 208px
  margin-bottom: 10px
  letter-spacing: 0.5px

  &::before
    position: absolute
    top: 9px
    left: 140px
    width: 14px
    height: 1px
    content: ""
    transform: rotate(-74deg)
    background-color: $color-signal-black

