.catalog-products__breadcrumbs--kashpo
  width: 270px

  @media ($width-desktop)
    width: 468px

  &::before
    top: 9px
    left: 120px

    @media ($width-desktop)
      top: 16px
      left: 212px
