.product-cards__price
  font-size: 14px
  line-height: 1.2
  width: 312px
  letter-spacing: 0.5px

  @media ($width-desktop)
    font-size: 20px
    width: 700px
    padding-top: 4px
    grid-area: price
