.catalog-navigation__breadcrumbs
  width: 121px
  position: relative

  &::before
    position: absolute

    width: 11px
    height: 1px

    content: ""
    transform: rotate(-74deg)

    background-color: $color-signal-black

    top: 8px
    left: 56px
