.catalog-navigation__breadcrumbs
  position: relative
  width: 138px

  &::before
    position: absolute
    top: 8px
    left: 64px
    width: 14px
    height: 1px
    content: ""
    transform: rotate(-74deg)
    background-color: $color-signal-black

  @media ($width-desktop)
    width: 100%

    &::before
      display: none
