.popup-form
  $color-light-denim: #3160cf

  position: fixed
  left: 50%
  top: 50%
  transform: translate(-50%, -50%)
  width: 320px
  padding-top: 45px
  padding-bottom: 25px
  background-color: $color-light-denim
  outline: none
  z-index: 5

  @media ($width-desktop)
    width: 600px
    padding-top: 100px
    padding-bottom: 60px
