.application-form
  padding-top: 30px
  padding-bottom: 60px
  padding-left: 25px

  border-radius: 10px
  background-color: $color-form

  @media ($width-desktop)
    padding-top: 95px
    padding-bottom: 111px
    padding-left: 120px

    border-radius: 20px

  fieldset
    margin: 0
    padding: 0

    border: none

  legend
    font-size: 16px
    line-height: 19px

    width: 230px
    margin-bottom: 20px

    letter-spacing: 0.5px

    color: $color-white

    @media ($width-desktop)
      font-size: 28px
      line-height: 34px

      width: 730px
      margin-bottom: 40px

      letter-spacing: 0.8px
