.application-form
  $color-light-denim: #3160cf

  padding-top: 30px
  padding-bottom: 60px
  padding-left: 25px
  border-radius: 10px
  background-color: $color-light-denim

  @media ($width-desktop)
    padding-top: 95px
    padding-bottom: 111px
    padding-left: 120px
    border-radius: 20px
