.product-cards__notice
  font-size: 14px
  line-height: 1.2
  width: 312px
  letter-spacing: 0.5px

  @media ($width-desktop)
    grid-area: notice
    width: 700px
    font-size: 20px
    letter-spacing: 0.7px
    padding-top: 12px
