.application-form__element--userphone
  padding-bottom: 12px
  padding-left: 9px

  background-color: $color-form-element

  @media ($width-desktop)
    margin-bottom: 30px
    padding-bottom: 20px
    padding-left: 15px

  &::placeholder
    font-size: 10px
    line-height: 12px

    letter-spacing: 0.5px

    opacity: 0.5
    color: $color-black

    @media ($width-desktop)
      font-size: 16px
      line-height: 19px

