.application-form__element--userphone
  padding-left: 9px
  padding-bottom: 12px
  background-color: $color-form-element

  @media ($width-desktop)
    margin-bottom: 30px
    padding-left: 15px
    padding-bottom: 20px

  &::placeholder
    font-size: 10px
    line-height: 12px
    color: $color-black
    opacity: 0.5
    letter-spacing: 0.5px

    @media ($width-desktop)
      font-size: 16px
      line-height: 19px

