.application-form__element--userphone
  $color-hover: #AFC7FF

  padding-bottom: 12px
  padding-left: 9px
  background-color: $color-blue-gray

  &:hover
    background-color: $color-hover

  &:focus
    outline: none

  @media ($width-desktop)
    margin-bottom: 30px
    padding-bottom: 20px
    padding-left: 15px

