.header-content__description
  width: 199px
  margin-bottom: 15px
  letter-spacing: 1px
  font-size: 14px
  line-height: 1.2

  @media ($width-desktop)
    width: 493px
    margin-bottom: 0
    font-size: 20px

    grid-area: description
