.application-form__element
  display: block
  width: 234px
  padding-top: 11px
  padding-bottom: 13px
  border: none
  margin-bottom: 15px

  @media ($width-desktop)
    width: 460px
    padding-top: 23px
    padding-bottom: 21px
