.application-form__element
  display: block
  width: 234px
  margin-bottom: 15px
  padding-top: 11px
  padding-bottom: 13px
  border: none

  @media ($width-desktop)
    width: 460px
    padding-top: 23px
    padding-bottom: 21px

  &::placeholder
    font-size: 10px
    line-height: 1.2
    letter-spacing: 0.5px
    opacity: 0.5
    color: $color-black

    &:hover
      $color-hover: #4D4A4A

      color: $color-hover

    @media ($width-desktop)
      font-size: 16px
      line-height: 1.18
