.popup-form__element--submit
  width: 110px
  min-height: 40px
  padding: 0 2px
  border-radius: 0
  margin-bottom: 5px
  font-size: 10px
  line-height: 1.2

  @media ($width-desktop)
    width: 220px
    min-height: 60px
    border-radius: 10px
    font-size: 16px
    margin-bottom: 15px
