.catalog-products__breadcrumbs--archway
  width: 153px

  @media ($width-desktop)
    width: 265px

  &::before
    top: 9px
    left: 39px

    @media ($width-desktop)
      top: 17px
      left: 65px

