.features-list
  display: grid

  grid-row-gap: 20px

  @media ($width-desktop)
    grid-template-columns: repeat(3, 1fr)
    grid-template-rows: repeat(2, 1fr)
    grid-column-gap: 20px
    grid-row-gap: 75pxs
