.nav-list--footer
  margin-top: -3px

  @media ($width-desktop)
    display: grid
    width: 485px
    margin: 0

    grid-template-columns: repeat(2, 1fr)
    grid-template-rows: repeat(3, 1fr)
    grid-auto-flow: column
    grid-row-gap: 20px
