.features-list__item
  width: 273px
  margin-bottom: 14px

  @media ($width-desktop)
    width: 100%
    margin-bottom: 0

  &:first-child
    margin-bottom: 2px

    @media ($width-desktop)
      margin-bottom: 0

  &:last-child
    margin-bottom: 0
