.nav-list__lnk--footer
  font-size: 10px
  line-height: 1.2
  color: $color-white

  &:hover
    opacity: 0.4

  &:active
    text-decoration: underline

  @media ($width-desktop)
    font-size: 20px
