html
  box-sizing: border-box

*,
*::after,
*::before
  box-sizing: inherit

body
  margin: 0
  padding: 0
  font-family: $font-base
  min-width: $width-mobile
  color: $color-dark-gray

h1,
h2,
h3,
h4,
h5,
h6,
p
  margin: 0

h2
  font-weight: 600
  font-size: 24px
  line-height: 29px
  color: $color-dark-gray


ul
  margin: 0
  padding: 0
  list-style: none

a
  text-decoration: none
