html
  box-sizing: border-box

*,
*::after,
*::before
  box-sizing: inherit

body

  min-width: $width-mobile
  margin: 0
  padding: 0

  color: $color-signal-black
  font-family: $font-base

h1,
h2,
h3,
h4,
h5,
h6,
p
  @include reset-title

h1
  font-size: 30px
  font-weight: 600
  line-height: 1.2

  @media ($width-desktop)
    font-size: 44px

h2
  font-size: 24px
  font-weight: 600
  line-height: 1.2

  @media ($width-desktop)
    font-size: 38px

h3
  font-size: 16px
  font-weight: 400
  line-height: 1.2

  @media ($width-desktop)
    font-size: 28px


ul
  @include reset-list

a
  text-decoration: none
