$font-base: "Inter", "Arial", sans-serif
$width-mobile: 360px
$width-desktop: 1440px
$color-white: #ffffff
$color-menu: #fbfbfb
$color-gray: #bdbdbd
$color-dark-gray: #2b2929
$color-green: #30616F
$color-form: #3160cf
$color-form-element: #7e9ce1
$color-black: #1f0109
$color-button: #F5074B
