.product-cards__item
  margin-bottom: 53px

  @media ($width-desktop)
    display: grid
    grid-template-columns: repeat(2, 1fr)
    grid-template-rows: repeat(4, auto)
    grid-column-gap: 20px
    grid-template-areas: "breadcrumbs breadcrumbs" "slider description" "notice notice"
