.popup-form__element--success
  font-size: 16px
  line-height: 1.2
  color: $color-white
  text-align: center

  @media ($width-desktop)
    font-size: 28px

  &:first-child
    margin-bottom: 25px

    @media ($width-desktop)
      margin-bottom: 30px

  &:not(:first-child):not(:last-child)
    width: 259px
    margin: 0 auto

    @media ($width-desktop)
      width: 464px
